/* Mobile First */

@media screen and (max-width: 480px) {
    header {
        height: 6vh;
        margin-bottom: 1vh;
    }

    h1 {
        font-size: 2.3em;
    }

    #container {
        flex-wrap: wrap;
        row-gap: 25px;
        padding: 0px 20px;
    }

    #container > div {
        height: 110px;
        width: 110px;
        margin: 4px;
    }

    div > img {
        height: 110px;
        width: 110px;
    }

    div > p {
        font-size: 0.8em;
    }

    #gerenciar {
        margin-top: -20px;
    }
}

@media screen and (min-width: 480px) and (max-width: 870px) { /*tablet*/
    header {
        height: 8vh;
        margin-bottom: 1vh;
    }
    
    h1 {
        font-size: 2.6em;
    }
    
    #container {
        flex-wrap: wrap;
        row-gap: 25px;
        padding: 0px 15px;
    }

    #container > div {
        height: 130px;
        width: 130px;
        margin: 4px;
    }

    div > img {
        height: 130px;
        width: 130px;
    }

    #gerenciar {
        margin-top: -20px;
    }
}